h1 {
    background-color: burlywood;
    font-family: 'Lucida Handwriting', 'Brush Script MT', 'Times New Roman';
    text-indent: 10px;
}

h3 {
    font-family: 'Lucida Handwriting', 'Brush Script MT', 'Times New Roman';
    text-indent: 10px;
}

.appetizers h3 {
    display: flex;
    background-color: bisque;
    border: 4px solid #993333;
    height: 30px;
    align-items: center;
}

.entrees h3 {
    display: flex;
    background-color: aquamarine;
    border: 4px solid #0033cc;
    height: 30px;
    align-items: center;
}

.desserts h3 {
    display: flex;
    background-color: cornflowerblue;
    border: 4px solid #ffcc99;
    height: 30px;
    align-items: center;
}